h1, h2 {
	background-color: rgba(100, 100, 100, 0.6);
}

.attribution {
    position: absolute !important;
    bottom: -20px !important;
    right: 0 !important;
    font-size: 0.8em !important;
    opacity: 0.75 !important;
}